#firstattempt{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
#inthe{
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;

}
#first{
  width: 650px;
  height:450px;
}
#inthe2{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
#secondattempt{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
#revision{
  width: 650px;
  height:450px;
}
#inthe3{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
#difficulty{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
#act{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
#interview{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
#list{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
#act2{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style : italic;
}
